<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City's Weather Finder</title>
</head>
<body>
    <section>
        <h1>Find out about a city's weather!</h1>
    </section>
    <section>
        <form action="/city" method="POST" >
            <input type="text" name="city" id="city" placeholder="Enter a city name" required>
            <button type="button">Get</button>
        </form>
    </section>
</body>
</html>